*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  margin: 0;
  padding: 2em;

  background-color: hsl(18, 22%, 91%);
  color: hsl(245, 26%, 19%);

  text-align: center;
  font-size: 1.125rem;

  &>section:not(:last-of-type)::after {
    margin: 2em auto;
    content: '';
    display: block;

    height: 2px;
    width: 20em;

    background-color: hsl(9, 8%, 83%);
  }
}

.cardDisplay {
  &>img {
    width: clamp(5em, 11vw, 9em);
    margin: .5em;

    image-rendering: pixelated;
  }
}

button {
  cursor: pointer;
  margin: 0 1em;
  padding: 0.5em 0;
  width: 5.5em;

  border: none;
  border-radius: 1em;
  font-size: 1rem;
  font-weight: 500;
  color: hsl(249, 14%, 30%);
  background-color: hsl(9, 8%, 83%);

  transition: ease-in 0.2s;

  &:hover {
    background-color: hsl(9, 16%, 77%);
  }
}